<div id="game" class="display" ng-controller="AppCupController as AppCupCtrl" ng-init="imageName='home'; headerPage='';" >
	<div class="appcup" ng-class="[imageName]">
		<div class="menu">
			<img class="background" ng-src="assets/img/appcup/menu.png">
			<div class="button menubt home" ng-click="imageName='home'; headerPage=''; checkHome(imageName)" onclick="Game.closeMenuApp()">
			<i class="fa fa-home"></i></div>
			<div class="button menubt new" ng-click="imageName='new'; headerPage='<b>Nuovo</b> Appuntamento';" onclick="Game.closeMenuApp()"><i class="fa fa-plus"></i></div>
			<div class="button menubt list" ng-click="check(imageName); headerPage='Lista <b>Appuntamenti</b>';" onclick="Game.closeMenuApp()"><i class="fa fa-calendar-o"></i></div>
		</div>
		<div class="contentPlay">
			<div class="overlay" onclick="Game.closeMenuApp()"></div>
			<div class="headerBar">
				<i class="fa fa-bars" onclick="Game.openMenuApp()"></i>
				<i class="fa fa-angle-left" ng-click="back(imageName)"></i>
				<i class="fa fa-times" ng-click="back(imageName)"></i>
				<h3  ng-bind-html="headerPage"></h3>
			</div>
			<div class="button home detail" ng-click="check(imageName); headerPage='Lista <b>Appuntamenti</b>';"></div>
			<div class="button home new" ng-click="imageName='new'; headerPage='<b>Nuovo</b> Appuntamento';"></div>
			<div class="button home list" ng-click="check(imageName); headerPage='Lista <b>Appuntamenti</b>';"></div>
			<div class="button effe ef" ng-click="imageName='effettuati'; headerPage='Lista <b>Appuntamenti</b>';"></div>
			<div class="button effe pren" ng-click="check(imageName); headerPage='Lista <b>Appuntamenti</b>';"></div>
			<div class="button effe pay" ng-click="imageName='pay'; headerPage='<b>Dettagli</b> Appuntamento';"></div>
			<div class="button new" ng-click="imageName='new'; headerPage='Dettagli Pagamento';"></div>
			<div class="button new newapp" ng-click="imageName='blank'; headerPage='Scegli <b>Giorno e Ora</b>';"></div>
			<div class="button new check" ng-click="imageName='checkin'; headerPage='<b>Dettaglio</b> Appuntamento'; addCheck();"></div>
			<div class="button new docheck" ng-click="imageName='newpren'; headerPage='<b>Dettaglio</b> Appuntamento'; "></div>

			<img class="background" ng-src="assets/img/appcup/{{imageName}}.png">

			<div class="accordion" ng-class="{visible: imageName=='blank'}">
				<h3>MER <b>19 NOV</b> 2014</h3>
				  <div>
				 	<a ng-click="imageName='detail'; headerPage='<b>Dettaglio</b> Disponibilità';"><img src="assets/img/appcup/event.png"></a>
				  </div>
				  <h3>GIO <b>20 NOV</b> 2014</h3>
				  <div>
				    <img src="assets/img/appcup/event.png">
				  </div>
				  <h3>VEN <b>21 NOV</b> 2014</h3>
				  <div>
				    <img src="assets/img/appcup/event.png">
				  </div>
				  <h3>SAB <b>22 NOV</b> 2014</h3>
				  <div>
				 	<img src="assets/img/appcup/event.png">
				  </div>
			</div>
		</div>
	</div>

	<div class="parking">
		<img class="background" src="assets/img/parking.png">
	</div>


	<div class="crossland">

	</div>
	
	<div class="mycards">
		<img class="background" src="assets/img/cards.png">
	</div>
	
</div>


	