/*e40045  E02920*/
html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font: normal 18px "Source Sans Pro",arial,sans-serif;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

h1, h2, h3, p {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #e40045; }

p {
  color: #666666; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 18px; }

strong {
  font-weight: 700; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #f9f9f9; }

#main {
  position: relative;
  width: 100%;
  height: 100%; }

.section {
  position: relative;
  width: 100%; }

.row {
  position: relative;
  width: 100%;
  height: auto; }

.row.colored {
  background: #e40045; }

.row.colored h2 {
  color: white; }

.content {
  position: relative;
  width: 900px;
  padding: 50px 15px 50px 15px;
  margin: 0 auto 0 auto;
  text-align: center;
  box-sizing: border-box; }

header {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/bg3.jpg") no-repeat center center fixed;
  background-size: cover; }

nav {
  position: fixed;
  width: 100%;
  height: 85px;
  padding: 15px;
  z-index: 100;
  font-size: 16px;
  color: white;
  background: linear-gradient(black, transparent);
  background: -webkit-linear-gradient(black, transparent);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

nav img.logo {
  position: absolute;
  margin: 5px 0 0 10px;
  display: inline-block;
  width: 216px;
  height: 45px; }

nav img.logo.black {
  display: none; }

nav i.fa-bars {
  position: absolute;
  right: 25px;
  font-size: 25px;
  color: white;
  display: none;
  z-index: 200;
  margin: 3px 0 0 0; }

nav.fixed img.logo.black {
  display: inline-block; }

nav.fixed img.logo.white {
  display: none; }

nav ul {
  position: absolute;
  right: 0;
  margin: 10px 60px 0 0;
  padding: 0;
  display: inline-block;
  z-index: 100;
  -webkit-transition: left 0.35s;
  -moz-transition: left 0.35s;
  -ms-transition: left 0.35s;
  -o-transition: left 0.35s;
  transition: left 0.35s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

nav ul li {
  position: relative;
  margin: 5px 30px 0 0;
  display: inline-block;
  list-style: none;
  font-weight: 400; }

nav ul li a {
  text-decoration: none;
  color: white; }

nav.fixed ul li a.active {
  font-weight: 700; }

nav.fixed {
  height: 80px;
  background: white;
  z-index: 200; }

nav.fixed ul li a {
  color: #666666; }

nav .language {
  position: absolute;
  right: 0;
  margin: 8px 30px  0 0;
  display: inline-block; }

nav .language a.active {
  display: none; }

.presentation {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0px;
  background: linear-gradient(transparent, black);
  background: -webkit-linear-gradient(transparent, black);
  color: white;
  text-align: center; }

.presentation h1 {
  top: 60%;
  margin: 0 auto 0 auto;
  color: white;
  line-height: 1.3em; }

.presentation i {
  position: relative;
  top: 130px; }

#play .content img.iphone {
  height: 600px;
  margin: 30px 0 0 0; }

#features .content p {
  margin: 10px 0 0 0; }

#features .row:nth-child(n+3) p {
  color: white; }

#features img.any {
  margin: 100px 0 0px 0; }

#features .aniSmart {
  position: absolute;
  width: 530px;
  height: 125px;
  top: 350px;
  left: 183px; }

#features .aniSmart img.ipApp {
  position: absolute;
  left: 0px; }

#features .aniSmart img.ipApp.animation {
  -webkit-animation: aniIphone 3s linear forwards;
  /* Chrome, Safari, Opera */
  animation: aniIphone 3s linear forwards; }

@-webkit-keyframes aniIphone {
  0% {
    left: 0px; }

  50% {
    left: 385px; }

  100% {
    left: 231px; } }
@keyframes aniIphone {
  0% {
    left: 0px; }

  50% {
    left: 385px; }

  100% {
    left: 231px; } }
#features h2.anydevice {
  margin: 55px 0 0px 0; }

#features .content.tech p {
  margin: 30px 0 0px 0; }

#features img.techimg {
  margin: 15px 0 0 0; }

#features img.techimg.native {
  margin: 15px 0 10px 0; }

#features img.techimg.ibrid {
  margin: 15px 20px 10px 0; }

#features .elementService {
  position: relative;
  margin: 30px 30px 0 40px;
  display: inline-block; }

#features .elementService i {
  font-size: 65px;
  color: #94012e; }

#features .elementService.down {
  margin: 50px 0 15px 50px; }

#features .elementService p {
  margin: 0; }

#features .elementService.down img.brand1 {
  position: relative;
  top: 6px; }

#about .row.colored {
  background: #ff6c00; }

#contact {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center; }

#contact .listContact {
  position: relative;
  margin: 40px auto 0  auto;
  width: 70%; }

#contact .listContact p {
  font-size: 20px;
  color: white; }

#contact .listContact i {
  display: block;
  margin: 15px 0 0 0;
  font-size: 30px;
  color: #00675c; }

#contact #map {
  position: relative;
  width: 100%;
  height: 500px;
  border: 0; }

#contact .square {
  position: absolute;
  width: 400px;
  height: 425px;
  bottom: 0;
  left: 55%;
  z-index: 100;
  background: #07a090; }

#play #game.display {
  position: absolute;
  width: 260px;
  height: 420px;
  top: 230px;
  left: 320px;
  overflow: hidden; }

#game.display .contentPlay {
  position: absolute;
  width: 275px;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: left 0.35s;
  -moz-transition: left 0.35s;
  -ms-transition: left 0.35s;
  -o-transition: left 0.35s;
  transition: left 0.35s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.appcup img.background {
  width: 100%;
  height: auto;
  top: 35px;
  left: 0; }

#game.display .contentPlay .headerBar {
  position: fixed;
  width: 100%;
  height: 35px;
  padding: 8px 0 8px 10px;
  top: 0;
  left: 0;
  background: #2C8ED4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

#game.display .contentPlay .headerBar h3 {
  position: relative;
  width: 80%;
  margin: -2px auto 0 auto;
  font-weight: 400;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

#game.display .contentPlay .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100; }

body.open #game.display .contentPlay .overlay {
  z-index: 100; }

body.open .appcup img.background {
  margin: 0 0 0 -15px; }

body.open #game.display .contentPlay {
  left: 200px;
  overflow: hidden; }

#game.display .menu {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: -200px;
  background: green;
  -webkit-transition: left 0.35s;
  -moz-transition: left 0.35s;
  -ms-transition: left 0.35s;
  -o-transition: left 0.35s;
  transition: left 0.35s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

body.open #game.display .menu {
  left: 0; }

.appcup.home .contentPlay .headerBar i.fa-bars {
  display: block !important; }

.appcup:not(.home) .contentPlay .headerBar i.fa-angle-left {
  display: block !important; }

#game.display .contentPlay .headerBar i {
  position: absolute;
  left: 10px;
  color: white;
  font-size: 21px;
  display: none; }

#game.display .contentPlay .headerBar i:hover {
  cursor: url("../img/touch.png"), auto; }

.button {
  position: absolute;
  display: none;
  z-index: 100; }

.button:hover {
  cursor: url("../img/touch.png"), auto; }

.button.list.home {
  width: 30px;
  height: 30px;
  top: 55px;
  left: 125px; }

.button.new.home {
  width: 30px;
  height: 30px;
  top: 55px;
  left: 180px; }

.button.detail.home {
  width: 215px;
  height: 115px;
  top: 195px;
  left: 30px; }

.button.effe.ef {
  width: 128px;
  height: 33px;
  top: 384px;
  left: 129px; }

.button.effe.pren {
  width: 128px;
  height: 33px;
  top: 384px;
  left: 0px; }

.button.effe.pay {
  width: 218px;
  height: 66px;
  top: 44px;
  left: 10px; }

.appcup.home .button.home {
  display: block; }

.appcup.prenotati .button.effe {
  display: block; }

.appcup.effettuati .button.effe {
  display: block; }

/* #### Smartphone Portrait #### */
@media screen and (max-device-width: 550px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  header {
    background: url("../img/bg3.jpg") no-repeat 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  h1 {
    font-size: 26px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 14px; }

  nav {
    background: black;
    height: 60px;
    font-size: 14px; }

  nav i.fa-bars {
    display: block; }

  nav img.logo {
    height: auto;
    width: 160px;
    margin: 0; }

  nav ul {
    left: 100%;
    height: 40px;
    width: 100%;
    background: black;
    margin: 0; }

  nav ul li {
    margin: 5px 25px 0 0; }

  nav.visible ul {
    left: 55px; }

  nav.visible ul li:nth-child(2) {
    margin: 5px 25px 0 15px; }

  nav .language {
    margin: 0px 75px 0 0; }

  nav.fixed {
    height: 60px; }

  nav.fixed ul {
    background: white; }

  nav.fixed i.fa-bars {
    color: black; }

  .presentation {
    height: 200px; }

  .presentation h1 {
    top: 50%;
    width: 95%; }

  .presentation i {
    top: 100px; }

  .section#play {
    display: none; }

  .content {
    width: 345px; }

  #about img {
    width: 100%; }

  nav ul li:first-child {
    display: none; }

  #features .aniSmart {
    top: 270px;
    left: 60px;
    width: auto; }

  #features img {
    width: 100%; }

  #features img.ipApp {
    width: 30px;
    left: 45%; }

  #features img.native {
    width: 40%; }

  #features .elementService.down {
    margin: 50px 0 15px 0; }

  #features .elementService.down img {
    width: 60px; }

  #features .elementService i {
    font-size: 45px; }

  #contact .square {
    width: 100%;
    height: 350px;
    left: 0; } }
@media screen and (max-device-width: 330px) and (-webkit-min-device-pixel-ratio: 1) {
  .content {
    width: 280px; } }
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  header {
    background: url("../img/bg3.jpg") no-repeat 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  h1 {
    font-size: 26px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 14px; }

  nav {
    background: black;
    height: 60px;
    font-size: 14px; }

  nav i.fa-bars {
    display: block; }

  nav img.logo {
    height: auto;
    width: 160px;
    margin: 0; }

  nav ul {
    left: 100%;
    height: 40px;
    width: 100%;
    background: black;
    margin: 0; }

  nav ul li {
    margin: 5px 25px 0 0; }

  nav.visible ul {
    left: 55px; }

  nav.visible ul li:nth-child(2) {
    margin: 5px 25px 0 15px; }

  nav .language {
    margin: 0px 75px 0 0; }

  nav.fixed {
    height: 60px; }

  nav.fixed ul {
    background: white; }

  nav.fixed i.fa-bars {
    color: black; }

  .presentation {
    height: 200px; }

  .presentation h1 {
    top: 50%;
    width: 95%; }

  .presentation i {
    top: 100px; }

  .section#play {
    display: none; }

  .content {
    width: 345px; }

  #about img {
    width: 100%; }

  nav ul li:first-child {
    display: none; }

  #features .aniSmart {
    top: 270px;
    left: 60px;
    width: auto; }

  #features img {
    width: 100%; }

  #features img.ipApp {
    width: 30px;
    left: 45%; }

  #features img.native {
    width: 40%; }

  #features .elementService.down {
    margin: 50px 0 15px 0; }

  #features .elementService.down img {
    width: 60px; }

  #features .elementService i {
    font-size: 45px; }

  #contact .square {
    width: 100%;
    height: 350px;
    left: 0; } }
@media screen and (max-device-width: 570px) and (orientation: landscape) {
  header {
    background: url("../img/bg3.jpg") no-repeat 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  h1 {
    font-size: 26px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 14px; }

  .presentation {
    height: 200px; }

  .presentation h1 {
    top: 50%;
    width: 95%; }

  .presentation i {
    top: 100px; }

  .section#play {
    display: none; }

  .content {
    width: 345px; }

  #about img {
    width: 100%; }

  nav ul li:first-child {
    display: none; }

  #features .aniSmart {
    top: 270px;
    left: 60px;
    width: auto; }

  #features img {
    width: 100%; }

  #features img.ipApp {
    width: 30px;
    left: 45%; }

  #features img.native {
    width: 40%; }

  #features .elementService.down {
    margin: 50px 0 15px 0; }

  #features .elementService.down img {
    width: 60px; }

  #features .elementService i {
    font-size: 45px; }

  #contact .square {
    width: 100%;
    height: 350px;
    left: 0; } }
/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 570px) and (max-device-width: 1280px) {
  header {
    background: url("../img/bg3.jpg") no-repeat 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .section#play {
    display: none; }

  nav ul li:first-child {
    display: none; }

  h1 {
    font-size: 30px; }

  h2 {
    font-size: 22px; }

  h3 {
    font-size: 18px; }

  .presentation {
    height: 200px; }

  .presentation h1 {
    top: 50%;
    width: 70%; }

  .presentation i {
    top: 100px; }

  .section#play {
    display: none; }

  .content {
    width: 600px; }

  #features .aniSmart {
    top: 300px;
    left: 60px; }

  #features img {
    width: 80%; }

  #features img.ipApp {
    width: 60px;
    left: 45%; }

  #features img.native {
    width: 40%; }

  #about img {
    width: 100%; }

  #features img.techimg.ibrid {
    width: 100%; }

  #contact .square {
    left: 40%;
    width: 300px;
    height: 350px; }

  #features .elementService.down img {
    width: 60px; } }
/* #### Desktop #### */
@media screen and (min-width: 660px) and (max-width: 1000px) {
  .section#play {
    display: none; }

  nav ul li:first-child {
    display: none; }

  h1 {
    font-size: 30px; }

  h2 {
    font-size: 22px; }

  h3 {
    font-size: 18px; }

  .content {
    width: 900px; }

  .presentation {
    height: 200px; }

  .presentation h1 {
    top: 50%;
    width: 50%; }

  .presentation i {
    top: 100px; }

  .section#play {
    display: none; }

  .content {
    width: 650px; }

  #features .aniSmart {
    top: 300px;
    left: 60px; }

  #features img {
    width: 100%; }

  #features img.ipApp {
    width: 60px;
    left: 45%; }

  #features img.native {
    width: 40%; }

  #about img {
    width: 100%; }

  #features img.techimg.ibrid {
    width: 100%; }

  #contact .square {
    left: 45%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    max-height: 70%; } }
