/* APPCUP CSS-STYLE */

.display .appCup{

	position: absolute;

	width: 100%;
	height: 100%;

	
	left:0;
	top:16px;
	@include transition(left);
}

#play .content .display .splashScreen.cup{

	background:#008cd7;

}
.appCup .navBar{

	position: fixed;

	width: 100%;
	height: 30px;

	z-index: 200;

	text-align: left;

	background:#008cd7;

}
.navBar i{ 

	font-size: 21px;
	margin:6px 0 0 10px;
	display:inline-block;
	color: white;
}

.navBar p{ 

	font-size: 15px;
	margin:-22px 0 0 70px;
	
	color: white;

}

.menuApp{

	position: absolute;

	width: 77%;
	height: 100%;

	top:16px;
	left:-200px;
	background: #606060;

	@include transition(left);

}

.menuApp ul{

	position: relative;

	width: 100%;
	height: auto;

	margin:0;
	padding:0;
	text-align: left;

}
.menuApp ul li{

	position: relative;

	width: 100%;
	height: 30px;

	padding:3px;
	
	border-bottom: 1px solid white;

	font-size: 13px;
	
	list-style: none;
	color:white;

	@include size;

}

#play .content .display .appCup.menuOpen{

	left:200px;

}

#play .content .display .menuApp.active{
	left:0px;
	z-index: 100;
}

/* APP CUP HOME PAGE*/

.appCup .home{

	position: absolute;

	width: 107%;
	height: 100%;
	overflow-y:scroll;
	
}
.appCup .home img{

	position: absolute;

	top:140px;
	left:0;

}
.appCup .home .headerHome{

	position: absolute;

	width: 100%;
	height: 35%;

	background:#008cd7;

}

.appCup .home .headerHome .profile{

	position: absolute;

	width: 230px;
	height:75px;

	top:72px;
	left:20px;

	border-left:2px solid #e4e4e4;

	@include size;
	
}

.profile p{
	
	position: absolute;
	
	top:40px;
	left: 23px;

	display: inline-block;
	
	color: white;

}

.headerHome .profile .menuProfile{

	position: absolute;

	width: 70%;
	height:2px;

	background:#e4e4e4; 

}

.menuProfile .imgProfile{

	position: absolute;

	width: 60px;
	height:60px;

	top:-30px;
	left:20px;

	border-radius: 40px;

	background: url('../img/businessman1.jpg') left top;
	background-size:cover;

	@include size;

}

.menuProfile .circle{

	position: absolute;

	width: 35px;
	height:35px;

	top:-18px;

	border-radius: 30px;
	border:2px solid #e4e4e4;
	
	color: white;
	background: #008cd7;

	@include size;

}

.menuProfile .circle i{

	display: inline-block;
	margin:7px 0 0 0 ;
}

.menuProfile .circle.Event{

	left:92px;

}

.menuProfile .circle.newEvent{

	left:139px;

}

.appCup .listEvents{

	position: absolute;

	width: 107%;
	height: 100%;
	overflow-y:scroll;

}


.appCup .listEvents .footerEvents{

	position: absolute;

	width: 100%;
	height: 33px;

	bottom:0;

	background:#008cd7;
}

.appCup .listEvents .footerEvents a{

	position: relative;

	width: 125px;
	
	margin:5px 0 0 0;
	display: inline-block;

	color: white;
	background:#008cd7;
}

.appCup .newEvents{

	position: absolute;

	width: 107%;
	height: 100%;
	overflow-y:scroll;

}

.newEvents a{

	position: absolute;

	width: 90%;
	height: 30px;

	top:134%;
	left:12px;

	padding: 5px 0 0 0;

	border-radius: 5px;
	
	background:#008cd7;
	color:white;
}

.appCup .searchEvents{

	position: absolute;

	width: 107%;
	height: 100%;
	overflow-y:scroll;

}

#accordion{

	position: absolute;

	top: 30px;
}


.left{

	left:-270px;
	
}
.right{

	left:270px;
	
}
.center{

	left:0;

}
