/* APPCUP CSS-STYLE */

.display .appCup{

	position: absolute;

	width: 100%;
	height: 100%;

	font-family: 'Titillium Web', sans-serif;
	left:0;
	top:16px;
	@include transition(left);
}

#play .content .display .splashScreen.cup{

	background:#008cd7;

}

.page .navBar{

	position: fixed;

	width: 100%;
	height: 30px;
	
	top:0;
	
	text-align: left;
	z-index: 100;
	
	background:#008cd7;

}
.navBar i{ 

	margin:6px 0 0 10px;

	display:inline-block;
	
	font-size: 21px;
	color: white;

}
.navBar i.fa-angle.left{ 

	margin:5px 0 0 10px;

}

.navBar p{ 

	margin:-27px 0 0 50px;

	font-size: 16px;
	color: white;

}

.menuApp{

	position: absolute;

	width: 77%;
	height: 100%;

	top:16px;
	left:-200px;

	background: #606060;

	@include transition(left);

}

.menuApp ul{

	position: relative;

	width: 100%;
	height: auto;

	margin:0;
	padding:0;
	text-align: left;

}
.menuApp ul li{

	position: relative;

	width: 100%;
	height: 40px;

	padding:8px 0 8px 10px;
	
	border-bottom: 1px solid #6d6d6d;

	font-size: 13px;
	color:white;

	@include size;

}

.menuApp ul li i{
	
	margin:5px;

	color:#cccccc;
	font-size: 15px;

}
.menuApp ul li i.active{

	color:white;

}
.menuApp ul li img{

	position: relative;

	height: 130%;
	margin: -7px 0 0 0;

}

#play .content .display .appCup.menuOpen{

	left:200px;

}

#play .content .display .menuApp.active{

	left:0px;
	z-index: 100;
}

.appCup .page{

	position: absolute;

	width: 107%;
	height: 100%;

	overflow-y:scroll;

	background: #f0f0f0;

}

.appCup .home img{

	position: absolute;

	top:140px;
	left:0;

}
.appCup .home .headerHome{

	position: absolute;

	width: 100%;
	height: 35%;

	background:#008cd7;

}

.appCup .home .headerHome .profile{

	position: absolute;

	width: 230px;
	height:75px;

	top:72px;
	left:20px;

	border-left:2px solid #e4e4e4;

	@include size;
	
}

.profile p{
	
	position: absolute;
	
	top:40px;
	left: 23px;

	display: inline-block;
	
	color: white;

}

.headerHome .profile .menuProfile{

	position: absolute;

	width: 70%;
	height:2px;

	background:#e4e4e4; 

}

.menuProfile .imgProfile{

	position: absolute;

	width: 60px;
	height:60px;

	top:-30px;
	left:20px;

	border-radius: 40px;

	background: url('../img/businessman1.jpg') left top;
	background-size:cover;

	@include size;

}

.menuProfile .circle{

	position: absolute;

	width: 35px;
	height:35px;

	top:-18px;

	border-radius: 30px;
	border:2px solid #e4e4e4;
	
	color: white;
	background: #008cd7;

	@include size;

}

.menuProfile .circle i{

	display: inline-block;
	margin:8px 0 0 0 ;

}

.menuProfile .circle.Event{

	left:92px;

}

.menuProfile .circle.newEvent{

	left:139px;

}

.appCup .listEvents .footerEvents{

	position: absolute;

	width: 100%;
	height: 33px;

	bottom:0;

	background:#008cd7;

}

.appCup .listEvents .footerEvents a{

	position: relative;

	width: 125px;
	
	margin:5px 0 0 0;
	display: inline-block;

	color: white;
	background:#008cd7;

}

.newEvents a{

	position: absolute;

	width: 90%;
	height: 30px;

	top:134%;
	left:12px;

	padding: 5px 0 0 0;

	border-radius: 5px;
	
	background:#008cd7;
	color:white;
}

.detailEvents a{

	position: absolute;

	width: 90%;
	height: 30px;

	top:72%;
	left:12px;

	padding: 5px 0 0 0;

	border-radius: 5px;
	
	background:#008cd7;
	color:white;

}

.checkinEvents a.checkin{

	position: absolute;

	width: 90%;
	height: 25px;

	top:61%;
	left:12px;

	border-radius: 5px;
	
	background:#00c042;
	color:white;

	font-size: 15px;

}


#accordion{

	position: absolute;

	width:100%;

	top: 30px;

}

#accordion h3.title{

	height: 30px;
	width:100%;

	padding: 5px 0 0 0;

	border-top:2px solid white;
	background: #008cd7;
	font-size: 15px;
	font-weight: 300;
	color:white;

}

#accordion h3.active{

	background: #00c042;

}

#accordion div{

	position: relative;
	
	padding: 5px 0 10px 0;

	background: #f0f0f0;
	text-align: left;

}

#accordion div p{

	width:42%;
	
	margin: 10px 0 0 15px;
	
	display: inline-block;
	
	font-size: 14px;

}

#accordion div p i{

	margin:0 5px 0 5px;
	
	color:#008cd7;
	font-size: 18px;
	
}

#accordion div i.fa-angle-right{

	position: absolute;

	left: 89%;
	top: 33%;

	font-size: 26px;
	color:#CCCCCC;

}


.left{

	left:-270px;
	
}
.right{

	left:270px;
	
}
.center{

	left:0;

}
