header{

	position: relative;

	width: 100%;
	height:100%;
	
	background: url('../img/bg.jpg') no-repeat  50% 50% fixed;
	background-size: cover;

}

nav {

	position: fixed;

	width: 100%;
	height: 85px;
	
	padding: 15px;

	z-index:100;

	font-size: 16px;

	color: white;
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	@include size;
	@include transition(all);
}

nav img.logo{

	position: absolute;

	width:216px;
	height:45px;

	margin:5px 0 0 10px;
	display: inline-block;  

	border:0;

}

nav img.logo.black{

	display:none;

}

nav i.fa-bars{

	position: absolute;
	right:25px;

	margin:3px 0 0 0;
	display:none;

	font-size: 25px;
	color:white;
	
	z-index: 200;

}

nav.fixed img.logo.black{

	display: inline-block; 

}

nav.fixed img.logo.white{

	display: none;

}

nav ul{

	position: absolute;

	right:0;

	margin:10px 60px 0 0;
	padding: 0;
	display: inline-block;
	
	z-index: 100;
	@include transition(left)
}

nav ul li{

	position: relative;

	margin: 5px 30px 0 0;
	display: inline-block;
	
	list-style: none;
	
	font-weight:400;
	
}

nav ul li a{

	text-decoration: none;
	color: white;

}

nav.fixed ul li a.active{

	font-weight: 700;

}

nav.fixed{

	height:80px;

	background: white;
	
	z-index:200;
	
}

nav.fixed ul li a{

	color: #666666;

}

nav .language{

	position: absolute;

	right: 0;
	
	margin:8px 30px  0 0;
	display: inline-block;

}

nav .language a.active{

	display:none;

}

.presentation{

	position: absolute;

	width: 100%;
	height: 200px;

	bottom:0px;

	background: linear-gradient( rgba(0,0,0,0),rgba(0,0,0,1));
	background: -webkit-linear-gradient( rgba(0,0,0,0),rgba(0,0,0,1));

	color: white;
	text-align: center;
}

.presentation h1{

	top:60%;

	margin: 0 auto 0 auto;

	color: white;
	line-height:1.3em;

}

.presentation i{

	position: relative;

	top:130px;

}

img.iphone{

	height:600px;
	margin:50px 0 0 0;

}

img.ipad{

	width: 783px;
	display: none;
	margin:50px 0 0 -58px;

}

.contentSim.cat #game{

	display: none;
	
}

.contentSim.cat img.ipad{

	display: initial;
	
}

.contentSim.cat img.iphone{
	display: none;
}

#play .apps{

	position:relative;

	width:80%;
	height: 80px;

	margin: 30px auto 20px auto;

}

#play .apps ul{

	position:relative;

	width:100%;
	height: 100%;

	margin:0;	
	padding: 0;

	list-style: none;

}

#play .apps ul li{

	position:relative;

	width:80px;
	height: 80px;

	display: inline-block;

	margin: 0 0 0 40px;
	padding:17px 0 0 0px;

	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	border-radius: 100%; 

	background:#CCCCCC;

	@include transition(background);
	@include size;
	
}

#play .apps ul li.active p{
	font-weight: 700;
}

#play .apps ul li.cup.active{
	background:$bluecup;
}

#play .apps ul li.park.active{
	background:#0071BC;
}


#play .apps ul li.cat.active{
	background:#2B7AB3;
}


#play .apps ul li.cards.active{
	background:#F7931E;
}

#play .apps ul li:hover{

	background:#666666;

}

#play .apps ul li:hover i{

	opacity:0;

}

#play .apps ul li:hover p.state{

	display: inline-block;

}

#play .apps ul li:first-child{

	margin:0;
	
}

#play .apps ul li:first-child p.state{

	left:18px;
	
}

#play .apps ul li:first-child i{

	left:21px;
	
}

#play .apps ul li:nth-child(n+2) i{

	left:16px;
	
}

#play .apps ul li p{

	top:80px;
	font-weight: 400;

}

#play .apps ul li p.state{

	position: absolute;

	top:20px;
	left:0;

	display: none;

	font-weight: bold;
	color:white;
	font-size: 15px;
	
}

#play .apps ul li i{

	position: absolute;

	font-size: 46px;
	color: white;

	opacity: 1;
	@include transition(opacity)

}

#play .contentSim{

	position: relative;

	width: 74%;

	margin:40px auto 0 auto;

	text-align: left;

}

#play .contentSim .descriptionApp{
	
	position: absolute;

	width: 286px;

	top: 134px;
	margin: 0 0 0 67px;
	
	display: inline-block;

	text-align: justify;

}

#play .contentSim .descriptionApp h3{
	color: $grey;
}

#play .contentSim.cat .descriptionApp{
	
	position: relative;

	width: 100%;
	top:0;
	margin: 40px 0 0 20px;

}

#features .aniSmart img.ipApp{

	position: absolute;
	
	left:0px;

}

#features .aniSmart img.ipApp.animation{

	-webkit-animation: aniIphone 3s linear forwards; /* Chrome, Safari, Opera */
    animation: aniIphone 3s linear forwards;

}

@-webkit-keyframes aniIphone {
    0%   {left:0px;}
    50%  {left:385px;}
    100% {left:231px;}
}

@keyframes aniIphone {
    0%   {left:0px;}
    50%  {left:385px;}
    100% {left:231px;}
}

#features h2.anydevice{

	margin: 12px 0 0px 0;

}

#features img.any{

	margin:65px 0 0px 0;
}

#features img.anydev{

	width: 184px;
}

#features .content.tech h3{

	margin:30px 0 0px 0;
	color:white;

}

#features img.techimg{

	margin:15px 0 0 0;
}

#features img.techimg.native{

	margin:15px 0 10px 0;

}

#features img.techimg.ibrid{

	margin:15px 20px 10px 0;
}


#features .elementService{

	position: relative;

	margin: 50px 10px 30px 10px;
	
}

#features .elementService.last {

	margin:50px 10px 0px 10px;
	
}

#features .elementService.last p{

	margin:0;
	
}

#features .elementService h3{

	color:white;
	margin: 0 0 20px 0;
	
}

#features .elementService i{

	font-size:65px ;
	color:#94012e;
	
}

#features .elementService p{

	margin:0 0 20px 0;
	color:white;

}

#features .elementService img.brand1{

	position:relative;

	top:8px;

}

#about .row.colored{

	background:$orange;

}

#about .row.colored p{

	margin:20px 0 40px 0;
	color: white;

}

#about .desk{

	position: relative;

	height:500px;
	background-image:url("../img/aboutobj.png");
	
	background-repeat: no-repeat;
	background-size: contain;

}

#contact{

	position: relative;

	width: 100%;
	height: auto;

	text-align: center;

}

#contact .listContact{
	
	position: relative;
	
	width: 70%;

	margin:50px auto 0  auto;

}

#contact .listContact p{

	font-size:20px;
	color: white;

}
#contact .listContact i{
	
	display: block;
	margin:15px 0 0 0;	

	font-size: 30px;
	color: #00675c;

}

#contact #map {

	position: relative;

	width: 100%;
	height: 500px;
	
	border: 0;

}

#contact .square{

	position: absolute;

	width:450px;
	height:350px;
	
	top: 0;
	left:50%;
	
	z-index: 100;
	background: $blue;

}

.mapMobile{
	display: none;
}