/* #### Smartphone Portrait #### */
@media screen and (max-device-width: 550px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : portrait){

	header{

		background: url("../img/bg3.jpg") no-repeat 40% ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

    h1{

		font-size: 26px;

	}

	h2{
		
		font-size: 20px;

	}

	h3{
		
		font-size: 18px;

	}

	p{

		font-size: 16px;
	}

	nav{
		
		height:60px;

		background: black;

		font-size: 14px;
	}

	nav i.fa-bars{

		display: block;

	}

	nav img.logo{

		height: auto;
		width: 160px;

		margin: 0;
	}

	nav ul{

		height:40px;
		width:100%;

		left:100%;
		
		margin:0;

		background: black;
		
	}

	nav ul li{

		margin:5px 25px 0 0;

	}

	nav.visible ul{

		left:55px;

	}

	nav.visible ul li:nth-child(2){

		margin:5px 25px 0 15px;

	}

	nav .language{

		margin: 0px 75px 0 0;
		
	}

	nav.fixed{

		height:60px;

	}

	nav.fixed ul{

		background: white;

	}

	nav.fixed i.fa-bars{

		color:black;

	}

	.presentation{

		height:200px;

	}

	.presentation h1{

		width:95%;

		top:50%;
		
	}

	.presentation i{

		top:100px;
	
	}

	.section#play{
	
		display: none;
	
	}

	.content{
		
		padding: 35px 0px 35px 0px;
		width: 345px;
	
	}
	
	#about img{
	
		width:100%;
	
	}

	nav ul li:first-child{
	
		display: none;
	
	}

	#features img{
	
		width: 100%;
	
	}

	#features img.techimg.ibrid {
		margin: 15px 10px 0px 0;
	}

	#features img.anydev{
	
		width:98px;
	
	}
	
	#features img.ipApp{
	
		width:30px;
	
		left:45%;
	
	}
	
	#features img.native{
	
		width: 40%;
	
	}

	#features .elementService {

		margin: 35px 10px 30px 10px;
	}

	#features .elementService.first{

		margin: 35px 10px 30px 10px;
	}
	
	#features .elementService img{
	
		width:60px;
	
	}

	#features .elementService i {
	
		font-size: 45px;
		
	}

	#features .elementService.last {
	
		margin:35px 10px 0 10px;
		
	}

	#features .elementService.last p {
	
		margin:0;
		
	}

	#features img.any {
		margin: 40px 0 0px 0;
	}

	#about .content {

		padding: 35px 0 25px 0;
		width: 100%;

	}

	#about .row.colored p {
		margin: 20px 10px 25px 10px;
	
	}

	#about .row.colored h2 {
		margin: 0px 20px 35px 20px;
	
	}


	#about .desk{

		position: relative;

		width:100%;
		height: 635px;
		background-image:url("../img/deskiphone.png");
		background-size: contain;
		background-position: 100% ;
		

	}

	#contact .square{
		
		position: relative;

		padding: 35px 0 0 0;

		width: 100%;
		height:350px;
		
		left:0;

		@include size;
	
	}

	#contact .listContact {

		width: 87%;
		margin: 0 auto 0 auto;
	}

	#contact #map{
		display: none;
	}


	.mapMobile {

		display: block;

		position: relative;
		width: 100%;
		height:144px;
		
		left:0;

	}

	.mapMobile img {
		
		width: 100%;
		height:144px;
		left:0;

	}

	.loader .load{
		display: block;
	}

}



@media screen and (max-device-width: 330px) and (-webkit-min-device-pixel-ratio: 1){

	.content{

		width: 280px;
	
	}

}

@media screen and (max-device-width: 600px) and (orientation : landscape){

	header{

		background: url("../img/bg3.jpg") no-repeat 40% ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

    h1{

		font-size: 26px;

	}

	h2{
		
		font-size: 20px;

	}

	h3{
		
		font-size: 18px;

	}

	nav{

		height:60px;

		background: black;
		
		font-size: 14px;

	}

	p{

		font-size: 16px;
	}


	nav i.fa-bars{
	
		display: block;
	
	}
	
	nav img.logo{
	
		height: auto;
		width: 160px;
	
		margin: 0;
	
	}
	
	nav ul{

		height:40px;
		width:100%;
		
		left:100%;
		
		margin:0;
	
		background: black;
		
	}
	
	nav ul li{
	
		margin:5px 25px 0 0;
	
	}
	
	nav.visible ul{
	
		left:55px;
	
	}
	
	nav.visible ul li:nth-child(2){
	
		margin:5px 25px 0 15px;
	
	}
	
	nav .language{
	
		margin: 0px 75px 0 0;
		
	}
	
	nav.fixed{
	
		height:60px;
	
	}
	
	nav.fixed ul{
	
		background: white;
	
	}
	
	nav.fixed i.fa-bars{
	
		color:black;
	
	}
	
	.presentation{
	
		height:200px;
	
	}
	
	.presentation h1{
	
		top:50%;
		width:95%;
	
	}

	.presentation i{
	
		top:100px;
	
	}

	.section#play{
	
		display: none;
	
	}

	.content{
	
		width: 345px;
		padding: 35px 15px 35px 15px;
	
	}
	
	#about img{
	
		width:100%;

	
	}

	nav ul li:first-child{
	
		display: none;
	
	}

	#features img{
	
		width: 100%;
	
	}
	
	#features img.ipApp{
		
		width:30px;
		
		left:45%;
	
	}

	#features img.anydev{
	
		width:98px;
	
	}
	
	#features img.native{
	
		width: 40%;
	
	}
	
	#features .elementService img{
	
		width:60px;
	
	}

	#features .elementService i {
	
		font-size: 45px;
		
	}

	#contact .square{
	
		width: 100%;
	
		height:350px;
		left:0;
	
	}

	#contact .listContact {

		width: 87%;
		margin: 0 auto 0 auto;
	}


	.loader .load{
		display: block;
	}

}

@media screen and (max-device-width: 570px) and (orientation : landscape){

	header{
		background: url("../img/bg3.jpg") no-repeat 40% ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

     h1{

		font-size: 26px;

	}

	h2{
		
		font-size: 20px;

	}

	h3{
		
		font-size: 18px;

	}

	p{

		font-size: 16px;
	}


	.presentation{
	
		height:200px;
	
	}
	
	.presentation h1{
	
		width:95%;
		
		top:50%;
	
	}

	.presentation i{
	
		top:100px;
	
	}

	.section#play{
	
		display: none;
	
	}

	.content{
	
		width: 345px;
	
	}
	
	#about img{
	
		width:100%;
	
	}

	nav ul li:first-child{
	
		display: none;
	
	}

	#features img{

		width: 100%;
	
	}
	
	#features img.ipApp{
	
		width:30px;
	
		left:45%;
	
	}
	
	#features img.native{
	
		width: 40%;
	
	}
	
	#features .elementService.down{
	
		margin:50px 0 15px 0;
	
	}

	#features .elementService.down img{
	
		width:60px;
	
	}

	#features .elementService i {
	
		font-size: 45px;
		
	}

	#contact .square{
		
		position: relative;

		padding: 10px 0 0 0;

		width: 100%;
		height:350px;
		
		left:0;
	
	}

	#contact .listContact {

		width: 87%;
		margin: 10px auto 0 auto;
	}

	#contact #map{
		display: none;
	}


	.mapMobile {

		display: block;

		position: relative;
		width: 100%;
		height:144px;
		
		left:0;

	}

	.mapMobile img {
		
		width: 100%;
		height:180px;
		left:0;

	}

	#about .desk {

		height: 200px;

	}


	.loader .load{
		display: block;
	}

}
/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 570px) and (max-device-width: 1280px) {

	header{

		background: url("../img/bg3.jpg") no-repeat 40% ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}



	nav{

		padding:0;
		font-size: 15px;

	}

	nav.fixed{

		height:60px;

	}

	nav ul{

		margin: 13px 40px 0 0;

	}

	nav .language{

		margin: 12px 15px 0 0;

	}

	nav img.logo{

		width: 191px;
		height: 39px;

		margin: 14px 0 0 10px;

	}

  	.section#play{
		
		display: none;
	
	}
  	
	nav ul li:first-child{
	
		display: none;
	
	}

	h1{

		font-size: 30px;

	}

	h2{
		
		font-size: 22px;

	}

	h3{
		
		font-size: 20px;

	}

  	.presentation{
	
		height:200px;
	
	}
	
	.presentation h1{

		width:85%;
		
		top:50%;
		
	}

	.presentation i{
	
		top:100px;
	
	}

	.section#play{

		display: none;

	}

	.content{

		width: 600px;
		padding: 35px 0px 35px 0px;

	}
	
	#features img{

		width: 70%;
	
	}

	#features .elementService {

		margin: 35px 10px 30px 10px;
	}

	#features .elementService.first{

		margin: 35px 10px 30px 10px;
	}

	#features img.any{
		width: 60%;
	}

	#features .elementService.last {
	
		margin:35px 10px 0 10px;
		
	}

	#features .elementService.last p {
	
		margin:0;
		
	}
	
	#features img.ipApp{
	
		width:60px;
	
		left:45%;
	
	}
	
	#features img.native{
	
		width: 30%;
	
	}
	
	#about img{
	
		width:100%;
	
	}
	
	#features img.techimg.ibrid{
	
		width:80%;
	
	}
	#contact #map{
		height: 350px;
	}
	#contact .square{
		
		width: 45%;
		height:350px;

		right: 0%;
		left:initial;
	
	}

	#features .elementService img{
	
		width:60px;
	
	}

	#features .elementService i{

		font-size: 50px;
	}

	#about .desk{

		height: 330px;

	}

	#about .row.colored p {
		margin: 20px 10px 40px 10px;
}

	#contact .listContact {

		width: 87%;
		margin: 10px auto 0 auto;
	}


	.loader .load{
		display: block;
	}

}

/* #### Desktop #### */
@media screen and (min-width: 660px) and (max-width: 1000px) {

	.section#play{
		
		display: none;
	
	}
  	
	nav ul li:first-child{
	
		display: none;
	
	}

	h1{

		font-size: 30px;

	}

	h2{
		
		font-size: 22px;

	}

	h3{
		
		font-size: 20px;

	}
	.content{
	
		width: 900px;
	
	}

  	.presentation{
	
		height:200px;
	
	}
	
	.presentation h1{

		width:50%;

		top:50%;
		
	}

	.presentation i{
		
		top:100px;
	
	}

	.section#play{
	
		display: none;
	
	}

	.content{
	
		width: 650px;
	
	}
	
	#features img{
	
		width: 50%;
	
	}
	
	#features img.ipApp{
	
		width:60px;
	
		left:45%;
	
	}
	
	#features img.native{
	
		width: 30%;
	
	}
	
	#about img{
	
		width:100%;
	
	}
	
	#features img.techimg.ibrid{
	
		width:100%;
	
	}
	
	#features .elementService i{

		font-size:50px;

	}

	#features .elementService img{

		width:10%;

	}

#about .desk{

		height: 330px;

	}

	#contact .square{
	
		left:45%;
	
	}
	
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2){ 

	header{
		max-height: 100%;
	}

}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (   min--moz-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (   -o-min-device-pixel-ratio: 2/1) and (min-device-width: 1025px),
only screen and (        min-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (           min-resolution: 192dpi) and (min-device-width: 1025px),
only screen and (            min-resolution: 2dppx) and (min-device-width: 1025px) {

     #game.display .contentPlay{
    	width:260px;
    }
}
