#play #game.display{

	position:absolute;

	width:260px;
	height:420px;

	top:230px;
	left:320px;
	overflow:hidden;

	background:rgb(240,240,240);


}

#game.display .contentPlay{
	position:absolute;

	width:275px;
	height:100%;

	top:0;
	left:0;

	overflow-x:hidden;
	overflow-y:auto;

	@include transition(left);

}
.appcup img.background{
	width:100%;
	height:auto;
	top:35px;
	left:0;
}

#game.display .contentPlay .headerBar{

	position:fixed;

	width:100%;
	height:35px;

	padding:8px 0 8px 10px;
	top:0;
	left:0;

	background:#2C8ED4;

	@include size;

}
#game.display .contentPlay .headerBar h3{

	position: relative;

	width:80%;

	margin:-2px auto 0 auto;

	font-weight: 400;
	color: white;
	@include size;

}
#game.display .contentPlay .overlay{

	position:absolute;

	width:100%;
	height:100%;

	top:0;
	left:0;

	z-index:-100;

}

body.open #game.display .contentPlay .overlay{
	z-index:100;
}

body.open .appcup img.background{
	margin:0 0 0 -15px;
}

body.open #game.display .contentPlay{
	left:200px;
	overflow:hidden;
}

#game.display .menu{

	position:absolute;

	width:200px;
	height:100%;

	top:0;
	left:-200px;
	background:green;
	@include transition(left);

}

body.open #game.display .menu{

	left:0;

}
.appcup.home .contentPlay .headerBar i.fa-bars{

	display: block !important;

}
.appcup.checkin .contentPlay .headerBar i.fa-times{

	display: block !important;

}
.appcup:not(.home) .contentPlay .headerBar i.fa-angle-left{

	display: block !important;

}
.appcup.checkin .contentPlay .headerBar i.fa-angle-left{

	display: none !important;

}
#game.display .contentPlay .headerBar i{

	position:absolute;

	left:10px;

	color:white;
	font-size:21px;
	display: none;

}

#game.display .contentPlay .headerBar i:hover{

	cursor:url('../img/touch.png'), auto;

}

.button{

	position:absolute;
	display:none;
	z-index:100;
}

.button:hover{

	cursor:url('../img/touch.png'), auto;
}

.button.list.home{

	width: 30px;
	height: 30px;

	top: 55px;
	left: 125px;

}
.button.new.home{

	width: 30px;
	height: 30px;

	top: 55px;
	left: 180px;

}
.button.detail.home{

	width: 215px;
	height: 115px;

	top: 195px;
	left: 30px;

}

.button.effe.ef{

	width: 128px;
	height: 33px;

	top: 384px;
	left: 129px;

}
.button.effe.pren{

	width: 128px;
	height: 33px;

	top: 384px;
	left: 0px;

}
.button.effe.pay{

	width: 218px;
	height: 66px;

	top: 44px;
	left: 10px;

}
.button.new.newapp{

	width: 234px;
	height: 31px;
	
	top: 578px;
	left: 13px;

}
.button.new.check{

	width: 234px;
	height: 31px;
	
	top: 333px;
	left: 13px;

}

.appcup.home .button.home{

	display: block;

}

.appcup.prenotati .button.effe{

	display: block;

}

.appcup.effettuati .button.effe{

	display: block;

}

.appcup.new .button.new.newapp{
	display: block;
}

.appcup.detail .button.new.check{
	display: block;
}
.appcup.checkin .button.new.check{
	display: block;
}

.accordion{
	position: absolute;
	width:100%;
	height:300px;
	top:38px;
	display: none;
}

.accordion.visible{
	display: block;
}

.accordion h3{
	height:40px;
	padding:6px;
	color: white;
	margin:0 0 3px 0;
	background:#2C8ED4;
	outline : none;
	@include size;
}
.accordion h3.ui-accordion-header-active{
	background: $green;
}

.accordion div{
	position: relative;

	width: 100%;
	height:75px;
	top:0px;
	
}
.accordion div img{
	position: relative;

	width: 100%;

}
.accordion div a:hover{

	cursor:url('../img/touch.png'), auto;
	
}

