#play #game.display{

	position:absolute;

	width:260px;
	height:420px;

	top: 138px;
	left: 14px;

	overflow:hidden;

	background:rgb(240,240,240);

	border: 1px solid #cccccc;

}

#game.display .contentPlay{

	position:absolute;

	width:275px;
	height:100%;

	top:0;
	left:0;

	overflow-x:hidden;
	overflow-y:auto;

	@include transition(left);

}

.contentSim.cup #game .appcup{

	opacity: 1;
	display: block;

}

.contentSim.park #game .parking{

	opacity: 1;
	display: block;
}

.contentSim.cross #game .crossland{

	opacity: 1;
	display: block;
}

.contentSim.cards #game .mycards{

	opacity: 1;
	display: block;
}

#game .appcup, .parking, .crossland, .mycards{

	opacity:0;
	display: none;
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;

}

#game img.background{

	width:100%;
	height:auto;

	top:35px;
	left:0;

}

#game.display .contentPlay .headerBar{

	position:fixed;

	width:100%;
	height:35px;

	padding:8px 0 8px 10px;
	top:0;
	left:0;

	background:#2C8ED4;

	@include size;

}

#game.display .contentPlay .headerBar h3{

	position: relative;

	width:80%;

	margin:-2px auto 0 auto;

	font-size:18px;
	font-weight: 400;
	color: white;
	
	text-align: center;
	@include size;

}

#game.display .contentPlay .overlay{

	position:absolute;

	width:100%;
	height:100%;

	top:0;
	left:0;

	z-index:-100;

}

body.open #game.display .contentPlay .overlay{

	z-index:200;

}

body.open #game.display .contentPlay .headerBar{

	left:10px;

}

body.open #game.display .contentPlay{

	left:200px;
	overflow:hidden;

}

#game.display .menu{

	position:absolute;

	width:200px;
	height:100%;

	top:0;
	left:-200px;

	@include transition(left);

}

#game.display .menu img{

	width:100%;

}

body.open #game.display .menu{

	left:0;

}

.appcup.home .contentPlay .headerBar i.fa-bars{

	display: block !important;

}

.appcup.newhome .contentPlay .headerBar i.fa-bars{

	display: block !important;

}

.appcup.newhome .contentPlay .headerBar i.fa-angle-left{

	display: none !important;

}

.appcup.newpren .contentPlay .headerBar i.fa-bars{

	display: block !important;

}

.appcup.prenotati .contentPlay .headerBar i.fa-bars{

	display: block !important;

}

.appcup.effettuati .contentPlay .headerBar i.fa-bars{

	display: block !important;

}

.appcup.checkin .contentPlay .headerBar i.fa-times{

	display: block !important;

}

.appcup.new .contentPlay .headerBar i.fa-angle-left{

	display: block !important;

}

.appcup.blank .contentPlay .headerBar i.fa-angle-left{

	display: block !important;

}

.appcup.detail .contentPlay .headerBar i.fa-angle-left{

	display: block !important;

}
.appcup.pay .contentPlay .headerBar i.fa-angle-left{

	display: block !important;

}

.appcup.checkin .contentPlay .headerBar i.fa-angle-left{

	display: none !important;

}

.appcup.newpren .contentPlay .headerBar i.fa-angle-left{

	display: none !important;

}

.appcup.prenotati .contentPlay .headerBar i.fa-angle-left{

	display: none !important;

}

.appcup.effettuati .contentPlay .headerBar i.fa-angle-left{

	display: none !important;

}

#game.display .contentPlay .headerBar i{

	position:absolute;

	left:10px;

	display: none;

	color:white;
	font-size:21px;

}

#game.display .contentPlay .headerBar i:hover{

	cursor:url('../img/touch.png'), auto;

}

.button{

	position:absolute;

	display:none;

	z-index:100;

	color:#CCCCCC;
	font-size: 12px;
}

.button:hover{

	cursor:url('../img/touch.png'), auto;
}

.button.menubt.home{

	width: 157px;
	height: 20px;

	top: 43px;
	left: 10px;

	display: block;

}

.button.menubt.new{

	width: 157px;
	height: 20px;

	top: 112px;
	left: 11px;

	display: block;

}

.button.menubt.list{

	width: 157px;
	height: 20px;

	top: 77px;
	left: 10px;

	display: block;

}

.button.list.home{

	width: 30px;
	height: 30px;

	top: 55px;
	left: 125px;

}
.button.new.home{

	width: 30px;
	height: 30px;

	top: 55px;
	left: 180px;

}
.button.detail.home{

	width: 215px;
	height: 115px;

	top: 195px;
	left: 30px;

}

.appcup.newhome .button.detail.home{

	width: 215px;
	height: 115px;

	top: 285px;
	left: 30px;

}

.button.effe.ef{

	width: 128px;
	height: 33px;

	top: 384px;
	left: 129px;

}
.button.effe.pren{

	width: 128px;
	height: 33px;

	top: 384px;
	left: 0px;

}
.button.effe.pay{

	width: 218px;
	height: 66px;

	top: 44px;
	left: 10px;

}
.button.new.newapp{

	width: 234px;
	height: 31px;
	
	top: 578px;
	left: 13px;

}
.button.new.check{

	width: 234px;
	height: 31px;
	
	top: 333px;
	left: 13px;

}
.button.new.docheck{

	width: 234px;
	height: 31px;
	
	top: 250px;
	left: 13px;

}

.appcup.home .button.home{
	display: block;
}
.appcup.newhome .button.home{
	display: block;
}

.appcup.prenotati .button.effe{
	display: block;
}

.appcup.effettuati .button.effe.pren{
	display: block;
}

.appcup.newpren .button.effe{
	display: block;
}

.appcup.new .button.new.newapp{
	display: block;
}

.appcup.detail .button.new.check{
	display: block;
}

.appcup.checkin .button.new.docheck{
	display: block;
}


.accordion{

	position: absolute;
	
	width:100%;
	height:300px;
	
	top:38px;
	
	display: none;

}

.accordion.visible{

	display: block;

}

.accordion h3{
	
	height:40px;
	
	margin:0 0 3px 0;
	padding:6px;

	background:#2C8ED4;

	color: white;

	text-align: center;
	outline : none;
	@include size;

}

.accordion h3:hover{
	
	cursor:url('../img/touch.png'), auto;

}

.accordion h3.ui-accordion-header-active{

	background: $green;

}

.accordion div{
	
	position: relative;

	width: 100%;
	height:75px;

	top:0px;
	
}

.accordion div img{

	position: relative;

	width: 95%;

}

.accordion div a:hover{

	cursor:url('../img/touch.png'), auto;
	
}

